<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

	<div class="music" id="musicPlayer"></div>

	<!-- Custom script for music -->
	<script src="assets/js/music.js"></script>

	{{ content }}


	<!-- Bootstrap core JavaScript -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="assets/js/jquery.easing.min.js"></script>

	<!-- Contact form JavaScript -->
	<script src="assets/js/jqBootstrapValidation.js"></script>

	<!-- Custom script for section -->
	<script src="assets/js/base.js"></script>
	
	<script src="assets/js/about.js"></script>
	<script src="assets/js/event.js"></script>
	<script src="assets/js/timeline.js"></script>
	<script src="assets/js/rsvp.js"></script>

	<!-- Custom scripts for this template -->
	<script src="assets/js/agency.min.js"></script>

</body>

</html>